/* BaseClas */
.burger-icon {
	display: none;
}
.dis-flex {
	display: flex;
}
.sp-btwn {
	justify-content: space-between;
}
.sp-arnd {
	justify-content: space-around;
}
.align-center {
	align-items: center;
}
.row-rev {
	flex-direction: row-reverse;
}
.activ {
	color: #5863F8;
}
/* Header */
.header-bg {
	background-image: url(../img/header-bg-img.jpg);
	width: 100%;
	height: 324px;
	background-size: cover;
	background-position: center;
}
.header-container {
	max-width: 1088px;
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
	position: sticky;
	top: -30px;
}
.logo {
	font-size: 14px;
	color: #FFFFFF;
	font-family: 'Poppins-B';
}
.nav-li {
	margin-right: 49px;
}
.nav-li:nth-child(6) {
	margin-right: 0;
}
.nav-a {
	font-size: 12px;
	color: #FFFFFF;
	font-family: 'Poppins-SB';
}
.h1-box {
	max-width: 246px;
	width: 100%;
	height: 90px;
	position: absolute;
	top: 30%;
	left: 12%;
	flex-direction: column;
}
.header-h1 {
	font-size: 42px;
	color: #FFFFFF;
	font-family: 'Poppins-EB';
}
.h1-p-box {
	max-width: 170px;
	width: 100%;
    
}
.h1-p {
	font-size: 12px;
	color: #FFFFFF;
	font-family: 'Poppins-M';
}
.dash {
	content: ' ';
	border: 1px solid #FFFFFF;
	border-radius: 1px 0 0;
}
/* Section-1 */
.section-1 {
	max-width: 1366px;
	width: 100%;
	margin: 0 auto;
	padding-top: 90px;
}
/* container-1 */
.container-1-box {
	max-width: 550px;
	width: 100%;
}
.img-box {
	flex-direction: column;
}
.text-box {
	margin: 0 auto;
	flex-direction: column;
}
.box-wrap {
	max-width: 635px;
	width: 100%;
	padding: 90px 0 50px 70px;
}
.box-h4 {
	font-size: 14px;
	color: #5863F8;
	font-family: 'Poppins-B';
}
.box-h2 {
	height: 118px;
	font-size: 42px;
	color: #000000;
	font-family: 'Poppins-EB';
}
.box-p1 {
	height: 78px;
	font-size: 16px;
	color: #000000;
	font-family: 'Poppins-M';
}
.box-p2 {
	height: 84px;
	font-size: 14px;
	color: #000000;
	font-family: 'Poppins-R';
}
.boton {
	max-width: 184px;
	width: 100%;
	height: 50px;
	background-color: #5863F8;
	justify-content: center;
	align-items: center;
}
.boton-text {
	font-size: 14px;
	color: #FFFFFF;
	font-family: 'Poppins-R';
	margin-right: 10px;
}
/* container-2 */
.sect-container-2 {
	height: 395px;
	flex-direction: column;
}
.container-2-box {
	max-width: 535px;
	width: 100%;
	background-color: #F8F8F8;
}
.box-h3 {
	font-size: 18px;
	color: #000000;
	font-family: 'Poppins-SB';
}
.container-text {
	max-width: 265px;
	width: 100%;
	flex-direction: column;
}
.container-p {
	font-size: 14px;
	color: #000000;
	font-family: 'Poppins-M';
}
.text-boton {
	max-width: 60px;
	width: 100%;
	height: 60px;
	background-color: #5863F8;
	justify-content: center;
	align-items: center;
	margin-top: 130px;
}
/* Section-2 */
.sec-2-container {
	max-width: 1366px;
	width: 100%;
	height: 190px;
	background-color: #F8F8F8;
}
